<header class="header">
    <div class="header-content">
        <div class="icon-circle ic-calc">
            <img src="icons/calculadora.png" class="icon" alt="Calculadora">
        </div>
        <div>
            <h1>Calculadora de Preço</h1>
            <small>Calcule o preço de venda ideal considerando tributos e margem desejada</small>
        </div>
    </div>
    <button id="menuToggle" class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>