<!-- LEFT PANEL -->
<div class="card left">

    <!-- REGIME -->
    <div class="select-container">
        <label for="regime" class="section-title required">Regime:</label>
        <select id="regime" class="input" required>
            <option value="">Selecione...</option>
            <option value="Real">Lucro Real</option>
            <option value="Presumido">Lucro Presumido</option>
            <option value="Simples">Simples Nacional</option>
        </select>
    </div>

    <!-- IMPOSTOS ESTADUAIS -->
    <div class="select-container">
        <label for="tributacao" class="section-title required">Imp. Estadual:</label>
        <select id="tributacao" class="input" required>
            <option value="">Carregando...</option>
        </select>
    </div>

    <!-- IMPOSTO FEDERAL -->
    <div class="select-container">
        <label for="impFederal" class="section-title required">Imp. Federal:</label>
        <select id="impFederal" class="input" required>
            <option value="">Carregando...</option>
        </select>
    </div>

    <!-- FAIXA DO SIMPLES NACIONAL -->
    <div class="select-container">
        <label for="faixaSimples" class="section-title required">Faixa Simples:</label>
        <select id="faixaSimples" class="input" required>
            <option value="">Carregando...</option>
        </select>
    </div>

    <!-- Preço e Margem -->
    <div class="price-margin-container">
        <div class="price-margin-group">
            <label for="precoCompra" class="section-title required">Preço de compra:</label>
            <div class="price-margin-input-wrapper">
                <div class="badge">R$</div>
                <input id="precoCompra" type="number" class="input" min="0" placeholder="0,00" required />
            </div>
        </div>

        <div class="price-margin-group">
            <label for="margemDesejada" class="section-title required">Margem desejada:</label>
            <div class="price-margin-input-wrapper">
                <input id="margemDesejada" type="number" class="input" min="0" placeholder="0,00" required />
                <div class="badge">%</div>
            </div>
        </div>
    </div>

    <!-- BOX: Impostos de Entrada -->
    <div class="boxed-section">
        <div class="section-title">Tributos na Compra</div>

        <div class="linha">
            <label for="creditoPisCofins" class="col-label small muted">(-) Crédito PIS/COFINS:</label>
            <div class="col-input percent-wrapper">
                <input id="creditoPisCofins" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div id="valorCreditoPisCofins" class="col-value small muted">R$ 0,00</div>
        </div>

        <div class="linha">
            <label for="creditoICMS" class="col-label small muted">(-) Crédito ICMS:</label>
            <div class="col-input percent-wrapper">
                <input id="creditoICMS" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div id="valorCreditoICMS" class="col-value small muted">R$ 0,00</div>
        </div>

        <div class="linha">
            <label for="reducaoBCICMS" class="col-label small muted">Red. da base de cálculo:</label>
            <div class="col-input percent-wrapper">
                <input id="reducaoBCICMS" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>

        <div class="linha">
            <label for="ICMSST" class="col-label small muted"> (+) ICMS ST:</label>
            <div class="col-input percent-wrapper">
                <input id="ICMSST" type="number" class="small-input percent-input" min="0" max="99" placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div id="valorICMSST" class="col-value small muted">R$ 0,00</div>
        </div>

        <div class="linha">
            <label for="reducaoBCST" class="col-label small muted">Red. da base de cálculo ST:</label>
            <div class="col-input percent-wrapper">
                <input id="reducaoBCST" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>

        <div class="linha">
            <label for="IPI" class="col-label small muted">(+) IPI:</label>
            <div class="col-input percent-wrapper">
                <input id="IPI" type="number" class="small-input percent-input" min="0" max="99" placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div id="valorIPI" class="col-value small muted">R$ 0,00</div>
        </div>
    </div>

    <!-- BOX: Impostos de Saída -->
    <div class="boxed-section">
        <div class="section-title">Tributos na Venda</div>

        <div class="linha">
            <label for="vendaPisCofins" class="col-label small muted">PIS/COFINS Venda:</label>
            <div class="col-input percent-wrapper">
                <input id="vendaPisCofins" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div id="valorVendaPisCofins" class="col-value small muted">R$ 0,00</div>
        </div>

        <div class="linha">
            <label for="vendaICMS" class="col-label small muted">ICMS Venda:</label>
            <div class="col-input percent-wrapper">
                <input id="vendaICMS" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div id="valorVendaICMS" class="col-value small muted">R$ 0,00</div>
        </div>

        <div class="linha">
            <label for="reducaoBCSaida" class="col-label small muted">Red. da base de cálculo Saida:</label>
            <div class="col-input percent-wrapper">
                <input id="reducaoBCSaida" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>

        <div class="linha">
            <label for="aliquotaSimplesNacional" class="col-label small muted">Alíquota Simples Nacional:</label>
            <div class="col-input percent-wrapper">
                <input id="aliquotaSimplesNacional" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div id="valorSimplesAPagar" class="col-value small muted">R$ 0,00</div>
        </div>

        <div class="linha">
            <label for="aliquotaCBS" class="col-label small muted">Alíquota CBS:</label>
            <div class="col-input percent-wrapper">
                <input id="aliquotaCBS" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>

        <div class="linha">
            <label for="aliquotaReducaoCBS" class="col-label small muted">Alíquota Redução CBS:</label>
            <div class="col-input percent-wrapper">
                <input id="aliquotaReducaoCBS" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>

        <div class="linha">
            <label for="aliquotaIBSUF" class="col-label small muted">Alíquota IBS UF:</label>
            <div class="col-input percent-wrapper">
                <input id="aliquotaIBSUF" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>

        <div class="linha">
            <label for="aliquotaReducaoIBSUF" class="col-label small muted">Alíquota Redução IBS UF:</label>
            <div class="col-input percent-wrapper">
                <input id="aliquotaReducaoIBSUF" type="number" class="small-input percent-input" min="0" max="99"
                    placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>

        <div class="linha">
            <label for="IBSmun" class="col-label small muted">IBS Mun:</label>
            <div class="col-input percent-wrapper">
                <input id="IBSmun" type="number" class="small-input percent-input" min="0" max="99" placeholder="0,00">
                <span class="percent-suffix">%</span>
            </div>
            <div class="col-value"></div>
        </div>
    </div>
</div>