<!-- Menu Lateral -->
<nav id="sideMenu" class="side-menu">
    <div class="side-menu-header">
        <h2>Menu</h2>
        <button id="menuClose" class="menu-close">&times;</button>
    </div>
    <ul class="side-menu-list">
        <li>
            <button id="menuPerfil" class="menu-item">
                <img id="menuPerfilIcon" src="icons/empresa.svg" alt="Perfil" class="menu-icon">
                <span>Perfil da Loja</span>
            </button>
        </li>
        <li>
            <button id="toggleTheme" class="menu-item">
                <img id="themeIcon" src="icons/lua.svg" alt="Tema" class="menu-icon">
                <span>Alterar Tema</span>
            </button>
        </li>
    </ul>
</nav>